ul {
  list-style-type: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 0;
  margin: 0;
}

.pokemon-button {
    font-family: inherit;
    background-color: yellowgreen;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    min-width: 150px;
}

.pokemon-button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.loadingMessage {
    visibility: hidden;
}

/* Modal */

#modal-container {
    display: none;
}
  
#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  
  /* to show it above other content */
  z-index: 999; 
  
  /* to allow scrolling if the screen is not high enough*/
  overflow: auto; 
  
  /* this is used to center the modal */
  display: grid;
  text-align: center;
}

.modal {
  margin: 0 auto;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 15px;
  width: 75%;
  height: 40%;
  max-width: 350px;
  max-height: 50%;
  text-align: left;
}

.modal-close-button {
  float: right;
  -webkit-appearance: none;
  background: none;
  color: black;
  background-color: red;
  text-align: center;
  border-radius:80%;
  border: 1px #8C8C8C solid;
  padding: 0px 5px 2px 5px;
  text-decoration: none;
}

.modal-close-button:hover {
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    opacity: 0.8;
}

.modal h1 {
  margin-top: 0;
}

.modal p {
  margin-bottom: 0;
}

.pokemon-sprite{
  display: block;
  margin-left: auto;
  margin-right: auto;
}