/* background image */
body {
  background-image: url("../resources/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

/* pokemon list */
list-group {
  text-align: center;
}

.pokemon-button {
    font-family: inherit;
    /* background-color: yellowgreen; */
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    /* border-bottom: 2px solid rgba(0, 0, 0, 0.3); */
    min-width: 150px;
}

.modal-header .close {
  background-color: red;
  border-radius:80%;
  padding: 0px 5px 4px 5px;
  margin: -5px -5px 0 0;
}

.modal-title {
  text-align: center;
  width: 100%;
}

.modal-body {
  text-align: center;
  width: 100%;
}

.nav-buttons {
  display: flex;
}

.nav-button {
  width: 50%;
}

.navbar {
  height: 60px;
}

/* fixed navbar hides list-group, so we need a margin-top to make them visible */
.page-container {
  margin-top: 60px; 
}