:root {
  --pokeball-color: #cf3935;
  --pokeball-gray: #546770;
  --text-stroke-color: #2f4591;
  --background-yellow: #fcc000;
}  
  
  @font-face {
    font-family: pokemonFontHollow;
    src: url("../resources/fonts//pokemon-hollow.ttf");
  }

  @font-face {
    font-family: pokemonFontSolid;
    src: url("../resources/fonts//pokemon-solid.ttf");
  }

  body {
    font-family: pokemonFontSolid;
  }

  /* background image-hack for #15 */
  .img {
    background: url("../resources/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    height: 100vh;
    width: 100vw;
  }

    /* background image-hack for #15 */
  .content{
    position: relative;
  }

  .navbar {
    background-color: var(--pokeball-color);
  }

  .navbar-brand {
    font-family: pokemonFontSolid;
    font-size: 30px;
    color: var(--background-yellow) !important;
    /* create a text-outline */
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--text-stroke-color);
  }

  .navbar-toggler {
    background-color: var(--pokeball-gray);
  }

  /* pokemon list */
  list-group {
    text-align: center;
  }

  li {
    list-style: none;
  }

  .pokemon-button-container {
    position: relative;
  }

  .pokemon-button-text {
    font-family: pokemonFontSolid;
    position: absolute;
    top:72%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
  }

  .pokemon-button-image {
      padding: 10px;
      max-width: 200px;
  }

  .pokemon-button-image:hover {
    opacity: 75%;
  }

  .modal-dialog-centered {
    display: flex;
    align-items: center;
  }

  .modal-content {
    background-color: var(--pokeball-color);
    outline: black;
    outline-width: 2px;
  }

  .modal-header .close {
    background-color: red;
    border-radius:80%;
    padding: 5px;
    margin: 0;
  }

  .modal-title {
    text-align: center;
    width: 100%;
    font-family: pokemonFontSolid;
    color: var(--background-yellow) !important;
    /* create a text-outline */
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--text-stroke-color);
  }

  .modal-body {
    text-align: center;
    width: 100%;
    font-family: pokemonFontSolid;
    color: var(--background-yellow) !important;
    background-color: #ffffff;
    /* create a text-outline */
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--text-stroke-color);
  }

  .nav-buttons {
    display: flex;
  }

  .nav-button {
    width: 50%;
    font-family: pokemonFontSolid;
    color: var(--background-yellow) !important;
    background-color: var(--pokeball-color);
    border-color: black;
    /* create a text-outline */
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--text-stroke-color);
  }

  /* fixed navbar hides list-group, so we need a margin-top to make them visible */
  .page-container {
    margin-top: 70px;
  }